body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
h1{
    font-size: 50px;
}
.top-banner{
    display: flex;
}
.first{
    width: 50%;
    padding-left:5%;
    
}
.first img{
    width: 80%;
}
.link{
     text-decoration: none;
     background-image: linear-gradient(orange,tomato);
     padding: 10px 40px;
     border-radius:5px;
     color: white;
     font-weight:700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    display: flex;
    padding-left: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin-top: 10%;
}
.second{
    width:50%;
}
.second h1{
    font-size: 36px;
}
.second img {
    width: 80%;
}
.second a{
    padding: 10px 40px;
    background-image:linear-gradient(orange,tomato);
    border-radius:5px;
    color:white;
    text-decoration:none;
    font-weight: 700;
}
.second p{
    color:rgb(95, 93, 93)
}